/* * {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


/* .main-heading {
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para {
    background-color: wheat;
    color: green;
} 
*/
/* 
p {
    background-color: wheat;
    color: green;
} */

/* .para {
    background-color: red;
    color: white;
}

.para2 {
    background-color: wheat;
    color: green;
}

#aws {
    color: orange;
}

.aws {
    color: blue;
}


.countries>li , .countries>li>a {
    color: red;
}


 .cities a {
color: purple;
} 

.cities>li {
    color:navy;
    }  */


    /* h5 ~ p {
        color: red;
    }

    
    h5 + p {
        color: red;
    }


    .list {
        color: red;
    }

    a {
        color: inherit;
    } */


    h1 {

        
        color: red;
        /* color: #3eb57a; */
    }

.main-parent {
    background-color: red;
}

.second-parent {
   background-color: rgba(0, 0, 0,0.4);
   color: white;
}